/* background snow */
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {background-color:#b4cfe0;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}
 
@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

.background-snow {
    /* background-color: #6b92b9;  */
    background-image: url('https://designshack.net/tutorialexamples/letitsnow/snow.png'), url('https://designshack.net/tutorialexamples/letitsnow/snow2.png'), url('https://designshack.net/tutorialexamples/letitsnow/snow3.png');
    
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
.background-snow{
    position: absolute;
    top: 0px;
    z-index: 1000;
    pointer-events: none;
    height: 1000px;
    width: 100%;
}
/* end background snow */
@font-face{
	font-family: FontMenu;
	src: url('../fonts/UTMCafeta.ttf');
}
@font-face{
    font-family:'roboto';
    src:url('../fonts/RobotoCondensed-Regular.ttf');
    font-weight:400;
}
@font-face{
    font-family:'roboto';
    src:url('../fonts/RobotoCondensed-Bold.ttf');
    font-weight:700;
}
.fix-height{
    height: auto;
    overflow: hidden;
}
.fix-left-col{
    padding-left: 0px;
}
.fix-right-col{
    padding-right: 0px;
}
/* rate vote star */
.is-vote{
    background-image: url('../../../resources/images/rated-full.png');
}
.no-vote{
    background-image: url('../../../resources/images/rated-none.png');
}
.vote{
    width: 208px;
    height: 17px;
}
div.vote a{
    text-decoration: none;
    width: 17px;
    height: 17px;
}
.star{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-size: cover; 
}
.rate-vote{
    width: 92px;
    height: 17px;
    background: url('../../../resources/images/bg_rate_vote_star_full.png') no-repeat;
}
/* xuống mỗi bậc - thêm 20px */
.rate-vote-10{
    background-position: -4px -2px;
}
.rate-vote-9{
    background-position: -4px -22px;
}
.rate-vote-8{
    background-position: -4px -42px;
}
.rate-vote-7{
    background-position: -4px -62px;
}
.rate-vote-6{
    background-position: -4px -82px;
}
.rate-vote-5{
    background-position: -4px -102px;
}
.rate-vote-4{
    background-position: -4px -122px;
}
.rate-vote-3{
    background-position: -4px -142px;
}
.rate-vote-2{
    background-position: -4px -162px;
}
.rate-vote-1{
    background-position: -4px -182px;
}
.rate-vote-0{
    background-position: -4px -202px;
}
.cursor-default{
    cursor: context-menu;
}
/*end style rate vote*/

#wapper{
	background: url('../../../resources/images/bg_body.gif') #6f6d72;
}
.header{
	min-height: 126px;
}
.head{
	min-height: 80px;
	background-color: #ebebeb;
}
/* home */
.childContentCenter {
    margin: 5px auto;
}
/* end home */
.logo{
	width: 300px;
	float: left;
}
.logo a img{
	height: 100%;
}
.search{
	width: 250px;
	margin-top: 15px;
	margin-left: 10px;
	float: left;
}
.search-result{
	width: 245px;
    min-height: 100px;
    line-height: normal;
    z-index: 1000;
    position: absolute;
    top: 58px;
    display: none;
    background-color: #afbabf;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px;
    font-family: Arial;
}
.search-result-admin{
    position: relative;
    width: 100%;
    top: 25px;
    
}
.search-key-word {
    /* color: #e23737; */
}
.search-title{
	border-bottom: 1px solid black;
    font-family: Arial;
    font-size: 13px;
    padding-bottom: 2px;
}
.search-icon-close{
	position: absolute;
	top: 6px;
	right: 4px;
	cursor: pointer;
	transition: 0.3s;
}
.search-icon-close:hover{
	color: #ca1717;
	background-color: #ebebeb;
}
.search-result ul {
    margin: 3px 0px;
    max-height: 300px;
    overflow-y: auto;
    padding-left: 3px;
    list-style: none;
}
.search-result ul li {
	margin-bottom: 5px;
    padding: 2px 1px 3px 1px;;
    width: 100%;
    min-height: 82px;
    border-bottom: 1px dashed black;
    transition: 0.3s;
}
.search-result ul li:hover {
    background-color: #0082bb;
}
.search-poster-film {
    width: 65px;
    height: 80px;
    display: block;
    background-color: blue;
    float: left;
    margin-right: 4px;
}
.search-poster-film img {
    width: 100%;
    height: 100%;
}
.search-name-film, .search-year-film {
    text-wrap: nowrap;
    padding: 3px 2px;
    display: block;
    font-size: 14px;
    color: black;
}

.user{
	width: 300px;
	float: left;
	line-height: 80px;
	margin-left: 10px;

}
.user>ul{
	margin-bottom: 0px;
}
.user-avata-li{
	position: relative;
}
.user-avata-li ul.dropdown-menu{
	margin-top: 0px;
}
.user-avata{
	width: 50px;
    height: 50px;
    /* border-radius: 15px; */
}
.user-avata:hover{
	background-color: #70797d;
}
.user-avata-li{
    cursor: pointer;
}
/* .user-avata-li:hover ul.dropdown-menu{
	display: block;
	transition: 1.5s;
} */
.menu{
	min-height: 46px;
	background-color: #0082bb;
    z-index: 999;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
    clear: left;
    color: #fff;
}
.menu-fix{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1002;
}
.menu .navbar{
    margin-bottom: 0px;
}
.menu .navbar-default{
	background-color: inherit;
	border: none;
}
.menu a{
	color: #fff !important;
	text-transform: uppercase;
}
.menu ul.dropdown-menu{
	background-color: black;
    width: 400px;
}
.menu ul.dropdown-menu li{
	float: left;
	width: 191px;
}
#menu ul.nav li.dropdown>a.dropdown-toggle{
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    font-family: FontMenu;
    font-size: 1.35em;
    transition: 0.3s;
}
#menu>ul.nav>li.dropdown:hover{
    background-color: #292929;
    /* border-bottom: 3px solid #0082bb; */
}
#menu ul.nav li.dropdown a.dropdown-toggle:hover{
    color: #dacb46 !important;
}
#menu ul.nav li.dropdown ul.dropdown-menu li a:hover{
    color: #dacb46 !important;
    background-color: #707475;
}
.div-center{
	margin: 0px auto;
	padding: 5px;
	min-width: 400px;
    width: 50%;
	min-height: 300px;
	background-color: #ebebeb;
}

/* login */
.div-login{
	min-width: 360px;
	width: 360px;
}
.fix-left{
	float: left !important;
}
.user-login hr{
    border-top: 1px solid #0082bb;
}
.div-captcha{
	min-height: 34px;
}
.icon-reload-captcha{
	padding: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.icon-reload-captcha:hover{
	/* background-color: #ebebeb; */
	background-color: #f7f7f7;
	transition: 0.3s;
}
/* end login */
/* register */
.user-register hr{
    border-top: 1px solid #0082bb;
}
/* end register */
/* user profile */
.user-img{
    width: 140px;
    height: 140px;
    margin: 0px auto;
    margin-bottom: 5px;
}
.user-img img{
    width: 100%;
    height: 100%;
}
.user-setting ul{
    list-style: none;
}
.user-setting ul li{
    margin-bottom: 5px;
}
/* end user profile */


/* footer */
.footer-logo img{
	width: 100%;
	height: 100%;
}
/* end footer */

/* film hot */
.film-hot{
	min-height: 300px;
}
/* chua lam  */
.film-hot-title{

}
.list-film-hot-ul{
	list-style: none;
	height: 500px;
    background-color: #201f21;
    padding: 5px;
    border: 1px solid #868489;
    border-radius: 4px;
    overflow-y: auto;
}
.list-film-hot-ul li {
    width: auto;
    height: auto;
    min-height: 133px;
    border-top: 1px solid #333;
    clear: both;
    padding: 10px 5px;
}
/* fix border-top */
.list-film-hot-ul li:first-child {
    border-top: none;
}
.list-film-hot-ul li:hover .film-hot-thumbnail{
	opacity: 0.75;
}
.list-film-hot-ul li:hover .film-title-vn{
	color: #dacb46;
}
.film-hot-thumbnail{
	padding-left: 0px;
	height: 113px;
	transition: 0.3s;
}
.film-hot-thumbnail img{
	width: 100%;
	height: 100%;
}
.film-hot-detail{
	padding-left: 0px;
}
.film-title-vn{
	display: block;
	text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* color: #44e2ff; */
    color: aqua;
    font-size: 12px;
    font-weight: 700;
    overflow: hidden;
    transition: 0.2s;
}
.film-hot-detail .film-title-vn {
    white-space: pre-line;
    font-size: 11px;
}
.film-hot-detail .film-title-en {
    white-space: pre-line;
    font-size: 11px;
}
.film-title-en{
	display: inline-block;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ccc;
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    transition: 0.2s;
}
.film-title-view{
	display: block;
	color: #46E1FF;
    font-size: 11px;
}
.film-title-rate-vote{
    display: block;
}
.film-title-time{
	font-size: 12px;
    color: #777;
    display: block;
    float: left;
}
.film-title-year{
    font-size: 13px;
    color: burlywood;
    font-weight: bold;
    float: right;
}
/* end film hot */

/* film new */
.film-new{
	min-height: 900px;
}
.list-film-new{
	    min-height: 201px;
}
.film-new-title{
	font-size: 30px;
    font-family: FontMenu;
    color: #dacb46;
    background: url('../../../resources/images/divider_line.gif') bottom repeat-x;
}
.list-film-new-ul{
	list-style: none;
	min-height: 831px;
    height: auto;
    overflow: hidden;  
	background-color: #201f21;
    padding: 5px;
    border: 1px solid #868489;
    border-radius: 4px;
    text-align: center;
}
.list-film-new-ul li{
	padding: 10px 5px;
	width: 159px;
    height: 290px;
    border: 1px solid #717171;
    margin-bottom: 3px;
    transition: 0.2s;
    display: inline-block;
}
.list-film-new-ul li:last-child{
	margin-right: 0px;
}
.list-film-new-ul li:hover .film-new-thumbnail{
	opacity: 0.75;
}
.list-film-new-ul li:hover .film-title-vn{
	color: #dacb46;
}
.list-film-new-ul li>a{
    text-decoration: none;
}
.list-film-new-ul li:hover{
    background-color: #2d2c2c;
}
.film-new-thumbnail{
    position: relative;
    height: 220px;
}
.film-new-thumbnail img{
	width: 100%;
	height: 100%;
}
.film-ribbon-status{
    width: auto;
    height: auto;
    position: absolute;
    top: 4px;
    left: 2px;
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    color: #fff;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    background-color: #A21D0A;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}
.film-ribbon-status::after{
    content: "";
    float: right;
    border-color: transparent transparent transparent #A21D0A;
    border-style: solid;
    border-width: 11px 0 12px 12px;
    position: absolute;
    top: 0px;
    right: -12px;
    width: 0px;
    height: 0px;
}
.film-ribbon-language{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    white-space: pre-wrap;
    background: #0082bb;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
    border-radius: 2px;
}
.film-new-detail{
	padding-top: 3px;
}
/* end film new */
/*  */
.film-title-box{
    color: #dacb46;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}
.film-title-box>span{
    margin-right: 5px;
}
/*  */
/* film info */
.film-dir ol{
    background-color: #201f21;
}
.film-background-border{
    background-color: #201f21;
    min-height: 65px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.film-introduce{

}
.film-introduce .col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
}
.film-info{
    min-height: 510px;
    height: auto;
}
.film-thumbnail{
    height: 500px;
    position: relative;
}
.film-thumbnail img{
    height: 100%;
    width: 100%;
}
.film-thumbnail ul{
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    list-style: none;
    width: 100%;
    background: rgba(0,0,0,0.3);
    margin-bottom: 0px;
    padding: 8px;
}
.film-thumbnail ul li{
    width: auto;
    padding: 4px;
    display: inline-block;
}
.film-thumbnail ul li a{
    border-radius: 4px;
    padding: 8px 12px;
    color: #ffffff;
    transition: 0.3s;
}
.film-thumbnail ul li a:hover{

}
.film-tick{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border-top-left-radius: 0px;
    cursor: pointer;
    padding: 8px;
}
.film-tick:hover{
    background-color: #111;
}
.film-tick:hover .icon-tick{
    color: aqua; /* #00ffff */
}
.film-tick .icon-tick{
    display: inline-block;
    color: #ddd;
    font-size: 14px;
    padding-left: 5px;
}
.film-tick .tick-content{
    padding: 3px;
    display: inline-block;
    color: #ddd;
    font-size: 14px;
    line-height: 30px;
}
.film-detail{
    padding-left: 10px;
}
.film-title{
    margin-bottom: 10px;
}
.film-title .film-title-en{
    display: block;
    white-space: pre-line;
    font-size: 14px;
    color: #999;
    font-weight: 400;
    display: block;
    float: left;
}
.film-title .film-title-vn{
    background: none;
    white-space: pre-line;
}
.film-title .film-title-years{
    display: block;
    color: #999;
    font-weight: 400;
    font-size: 14px;
}
.film-detail-border{
    border: 1px solid #565656;
    background-color: #292929 !important;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 10px;
}
.film-meta-info{
    color: #bbb;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
}
.film-meta-info dl{
    margin-bottom: 0px;
}
.film-meta-info dl dt{
    display: inline;
    font-weight: bold;
}
.film-meta-info dl dd{
    display: inline;
    margin-left: 5px;
    font-weight: normal;
}
.film-status{
    color: #de211d;
}
.film-quality{
    color: #e2c7c7;
    font-weight: bold;
}
.film-quality span{
    font-size: 20px;
}
.film-type ul{
    list-style: none;
    display: inline-block;
    padding-left: 0px;
    margin-bottom: -4px;
}
.film-type ul li{
    width: auto;
    float: left;
    margin-left: 5px;
}
.film-type ul li:not(:last-child)::after{
    content: ',';
    display: inline-block;
}
.film-evaluate{
    
}
.film-evaluate p{
    color: #dacb46;
    font-size: 15px;
}
.film-evaluate span{
    display: inline-block;
    color: #ddd;
    font-size: 13px;
}
.film-actor{
    overflow: hidden;
    
    min-height: 150px;
}
.film-actor-list ol{
    padding-left: 0px;
    text-align: center;
}
.film-actor-list ol li{
    min-height: 165px;
    width: 98px;
    float: left;
    /* display: inline-block; */
    margin-left: 16px;
    list-style: none;
}
.film-actor-list ol li:hover{
    background-color: #504c4c;
}
.film-actor-list ol li:hover .film-actor-img{
    opacity: 0.75;
}
.person-list ol{
    background-color: #201f21;
    padding: 5px;
    border: 1px solid #868489;
    border-radius: 4px;
    height: auto;
    overflow: hidden;
    /* min-height: 200px; */
    /* height: 200px; */
}
.person-list ol li{
    min-height: 192px;
    width: 115px;
    margin-top: 5px;
    padding: 2px;
    border: 1px solid #717171;
    margin-bottom: 3px;
    transition: 0.2s;
}
.person-list ol li .film-actor-img{
    height: 145px;
}
.film-actor-img{
    height: 128px;
}
.film-actor-img img{
    width: 100%;
    height: 100%;
}
.film-actor-name{
    font-size: 12px;
}
.film-actor-name span{
    display: block;
    white-space: normal;
}
.film-actor-name-1{
    color: aqua;
    margin: 3px 0 -1px;
    padding-bottom: 1px;
}
.film-actor-name-2{
    color: #f5f5dc;
    font-size: x-small;
    padding-top: 2px;
}
.filtering-film-actor{
    margin-left: 15px;
    margin-right: 15px;
}
.film-actor-item a{
    text-decoration: none;
}

.film-trailer{
    min-height: 270px;
}
.background-video{
    position: relative;
    z-index: 1001;
}

.film-content-info{
    color: #bbb;
    font-size: 14px;
}
.film-content-info img{
    width: 100%;
    height: 100%;
}
.film-key-word{
    height: auto;

}
.list-key-words ul{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
}
.list-key-words ul li{
    float: left;
    margin-left: 3px;
}
.list-key-words ul li a:after{
    content: ',';
}
.list-key-words ul li:last-child a:after{
    display: none;
}
.film-comment-content{
    margin-bottom: 0px;
}
.film-comment-div{
    min-height: 100px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}
.film-comment-facebook{
    /* background-color: red; */
    min-height: 100px;
}
.film-comment-local{
    display: none;
    min-height: 100px;
    padding: 5px;
    overflow: hidden;
}
.comment-local-total{
    font: 1.3em Georgia;
    height: 24px;
    font-size: 16px;
    color: #b2b2b2;
}
.comment-local-total span{
    display: inline-block;
    margin-right: 5px;
}
.comment-form{
    padding-right: 0px;
}
.comment-avata{
    height: 50px;
    padding-left: 0px;
}
.comment-avata img{
    width: 100%;
    height: 100%;

}
.comment-form-content{
    padding-left: 0px;
}
.comment-form-content form textarea{
    max-width: 100%;
    color: darkslategray;
}
.comment-check{
    color: #e81919;
    display: none;
}
.comment-local-list{
    height: auto;
}
.comment-local-list ul{
    padding-left: 12px;
    list-style: none;
    overflow: hidden;
}
.comment-local-list ul li{
    padding-bottom: 10px;
    overflow: hidden;
}
.comment-user-info{
    padding-left: 0px;
}
.comment-user-info span{
    display: block;
}
.comment-username{
    color: #2276bb;
    font-weight: bold;
    margin-right: 0.5em;
    text-overflow: ellipsis;
    font-family: Lucida Grande,sans-serif;
    font-size: 14px;
    line-height: 16px;
}
.comment-content{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #c1c1c1;
}
.comment-time{
    font-size: 11px;
    color: #999;
    line-height: 16px;
    text-overflow: ellipsis;
}
/* end film info */

/* film watch */
.film-watch-title{
    /* font-family: FontMenu; */
    font-family: roboto;
    
    text-align: center;
}
.film-watch-title a{
    color: #dacb46;
}
.film-watch-video{
    
}
.film-watch-option>ul{
    list-style: none;
    /* overflow: hidden; */
    height: auto;
    min-height: 52px;
    padding: 8px;
}
.film-watch-option>ul>li{
    float: left;
    margin-right: 15px;
    padding: 3px;
    transition: 0.3s;
}
.film-watch-option>ul>li>a>span{
    margin-right: 3px;
}
.film-watch-option>ul>li>a, .film-watch-option>ul>li>div>a{
    text-decoration: none;
    color: #ddd;
    font-size: 14px;
    line-height: 30px;
}
.film-watch-option .film-tick{
    position: relative;
    padding: 0px;
    background-color: inherit;
    border-radius: 0px;
}
.film-watch-option>ul>li>a .tick-content{
    padding: 0px;
}
.film-watch-option>ul>li:hover{
    background-color: #696969;
}
.film-watch-option>ul>li:hover a>span{
    color: aqua;
}
.film-watch-source-list{
    padding-left: 10px;
}
.film-watch-source-list-title{
    color: #dacb46;
    font-weight: bold;
}
.film-watch-source-list ul{
    list-style: none;
    overflow: hidden;
    padding-left: 35px;
}
.film-watch-source-list ul li{
    float: left;
    padding-right: 10px;
}
.film-watch-source-list ul li a{
        display: block;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #503e3e;
    background-color: #414148;
    padding: 5px;
    color: #ddd;
    border-radius: 3px;
}
.film-watch-source-list ul li a:hover{
    background-color: #ea8f99;
    color: #702526;
    text-decoration: none;
}
.film-watch-source-selected{
    background-color: #337ab7 !important;
    color: #fff !important;
}
.film-watch-source-list ul li a:visited{
    background-color: #ea8f99;
    color: #702526;
    text-decoration: none;
}
.source-active{
    background-color: #ea8f99;
    color: #702526;
}

/* end film-watch */

/* film-relate */
.film-relate-list{
    /* fix slick */
    padding-left: 25px;
    padding-right: 25px;
}
.film-relate-item{
    height: 100%;
    width: 100%;
    border: 1px solid #909090;
    position: relative;
}
.slick-initialized .slick-slide{
    padding: 4px;
}
/* .slick-slide{
    width: 150px;
    height: 230px;
    margin-right: 2px;

} */
.film-relate-item-img{
    height: 80%;
    width: 100%;
}
.film-relate-item-img img{
    width: 100%;
    height: 100%;
}
.film-relate-item-title{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 2px;
}
.film-relate-item-title span{
    display: block;
}
.film-relate-item-title .film-title-vn{
    font-size: 13px;
}
.film-relate-item-title .film-title-year{
    text-align: right;
    font-size: 13px;
    color: burlywood;
    font-weight: bold;
/* end film-relate */
}
/* film search */
.film-filter{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    background-color: rgba(235, 235, 235, 0.72);
    border-radius: 3px;
}
.film-filter .form-group{
    padding-right: 10px;
}
/* end film search */

/*person */
.film-person-image{
    height: 300px;
}
.film-person-info{
    min-height: 310px;
}
.list-film-person{
    min-height: 300px;
}


/* captcha */
.captcha{
    padding: 3px;
}
.captcha img{
    width: 120px;
    height: 30px;
}
.captcha span{
    display: inline-block;
}
.captcha-download-film{
    display: inline-block;
}
.captcha-download-film span{
    background-color: white;
    transition: 0.3s;
    margin-left: 3px;
    margin-right: 3px;
}
.captcha-download-film span:hover{
    color: #0082bb;
    background-color: #faebd7;
}